<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiweiyi.www">
    <!-- 杀死背景程序 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".base.YWYApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".details.ProdcataActivity"></activity>
        <activity android:name=".details.DetailsActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="414" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="933" />
        <meta-data
            android:name="android.notch_support"
            android:value="false" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 获取本机手机号 -->
        <activity android:name=".ui.login.RegisterActivity" /> <!-- 短信登录 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop" /> <!-- 输入验证码 -->
        <activity android:name=".ui.login.VerifiCodeActivity" /> <!-- 搜索 -->
        <activity android:name=".ui.search.SearchActivity" /> <!-- 店铺管理 -->
        <activity android:name=".ui.store.StoreManageActivity" /> <!-- 基本信息 -->
        <activity android:name=".ui.store.BasicInfoActivity" />
        <activity android:name=".ui.store.CallRecordsActivity" /> <!-- 商家展示页 -->
        <activity android:name=".ui.search.BusinessDisplayActivity" /> <!-- 网页 -->
        <activity android:name=".web.CommonWebActivity" /> <!-- 联系电话 -->
        <activity android:name=".ui.store.PhoneListActivity" /> <!-- 选择地区 -->
        <activity android:name=".ui.search.SelectRegionActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.yiweiyi.www"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.setting.AboutActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.WebActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".me.UserinfoActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".me.SingleEditActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".me.FeedBackActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".me.RawMaterialActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeAnimation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>

</manifest>